doctype
html
	head
		title Peter Andringa
		meta(name="viewport" content="width=device-width, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Tinos:400,600|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/main.css")
	body
		section.bio
			.bio-header-group
				img(src="img/portrait.jpg" alt=bio.name)
				h1= bio.name
				h3= bio.subhead
			.bio-section-group.hide-mobile
				for section in bio.sections
					.bio-section
						h6= section.title
						for i in section.items
							if i.link
								p 
									a(href=i.link target="_blank")= i.title+" "
										b(class=i.substyle)= i.subtitle
							else
								p= i.title+" "
									b(class=i.substyle)= i.subtitle
				.bio-section.bottom
					h6= "Get in touch"
					p.social-icons
						for i in bio.social
							a(class="icon-"+i.name href=i.link target="_blank")
			a.expand-button(onclick="toggleCard()" href="#") 
				h3 Full Resume
					.icon-forward
								
		section.resume
			for section in resume.sections
				h5.section-head= section.title
				.indented
					for i in section.items
						.resume-item
							.item-left
								h3.header
									if i.link
										a(href=i.link target="_blank" class=(i.underline ? "underline" : ""))= i.title 
									else
										span= i.title
									.subtitle= i.subtitle
								if i.text
									p.body= i.text
							.item-right(class=(i.location && !i.text ? 'two-lines': ''))
								.location= i.location
								.date= i.date
		script.
			const bodyClass = document.querySelector('body').classList
			const toggleCard = () => {
				setTimeout(() => {
					bodyClass.remove('animate');
				}, 1000)
				bodyClass.add('sidebar');
				bodyClass.add('animate');
			} 
			const bio = document.querySelector('.bio')
			bio.setAttribute('style', 'height: '+bio.clientHeight+'px')
			console.log(window.innerWidth)
			if(window.innerWidth < 450)
				bodyClass.add('sidebar')
			



