doctype
html
  head
    title Peter Andringa
    meta(name="viewport" content="width=device-width, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Quattrocento:400,600|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/main.css")
  body
    section.projects
      h5.header
        a.back-link(href="/") 
          span.icon-back 
          span Back to resume
      .title-row
        h1.projects-title Recent Projects 
        .filter-title.hidden Showing #[span.filter-count 5] (#[a.filter-all(href='/projects/') View all])
      for project in projects
            .item-content(data-priority=project.priority)
              a.item-image(href=project.link target="_blank" style="background-image: url("+project.image+");")
              .resume-item
                .item-left
                  h3.header
                    if project.link
                      a(href=project.link target="_blank" class=(project.underline ? "underline" : ""))= project.title 
                    else
                      span= project.title
                    .subtitle= project.subtitle
                  if project.text
                    p.body !{md(project.text)}
                .item-right(class=(project.location && !project.text ? 'two-lines': ''))
                  .location= project.location
                  .date= project.date
    script.
      const total = !{projects.length};
      var count = window.location.search.match(/selected=(\d+)/)
      if(count[0] && count[1]) filter(+count[1]);

      function filter(n){
        if(n >= total) return;
        document.querySelector('.projects-title').innerText = 'Selected Projects';
        document.querySelector('.filter-title').classList.remove('hidden');
        document.querySelector('.filter-count').innerText = n;
        for(const el of document.querySelectorAll('[data-priority]')){
          const priority = +el.getAttribute('data-priority');
          if( priority <= (total-n) )
            el.classList.add('hidden');
        }
      }
      



